<div class="row-fluid contacts">
  <div class="span12">
    <h2>My Contacts</h2>
    <% if @devices.size > 1 %>
      <% @devices.each do |device| %>
        <%= link_to device.deviceName, contacts_path(:device => device) %>
      <% end %>
    <% end %>
    Contacts: <%= @contact_count %>
    <div class="row-fluid">
      <div class="span4 contact_list">
        <% @alpha_index.each do |key| %>
          <h3 class="header">
            <%= key %>
          </h3>
          <% @contacts[key].try(:each) do |contact| %>
            <%= link_to contact_path(contact.id) do %>
              <p id='<%= "contact_#{contact.id}" %>' class='<%= selected_contact(contact, @selected) %>'>
                <%= formatted_contact_name(contact) %>
              </p>
            <% end %>
          <% end %>
        <% end %>    
      </div>
      <div class="span6 contact_data">
        <div class="row-fluid">
          <div class="span4">
            <div class="pull-right">
              <%= image_tag("anonymous.gif", :width => 100) %>  
            </div>
          </div>
          <div class="span6">
            <h2>
              <%= @selected.full_name %>
            </h2>
            <div class="company">
              <%= @selected.company %>
            </div>
          </div>
        </div>
        <div class="row-fluid details">
          <div class="span4">
            <div class="pull-right item-label">
              details
            </div>
          </div>
          <div class="span6">
            data
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
