<div class="row-fluid contacts">
  <div class="span12">
    <h2>
      My Contacts 
      <span class="entries">(<%= pluralize(@contact_count, "entry") %>)</span>
    </h2>
    <% if @devices.size > 1 %>
      <% @devices.each do |device| %>
        <%= link_to device.deviceName, contacts_path(:device => device) %>
      <% end %>
    <% end %>

    <div class="row-fluid">
      <div class="span4 contact_list">
        <% @alpha_index.each do |key| %>
          <h3 class="header">
            <%= key %>
          </h3>
          <% @contacts[key].try(:each) do |contact| %>
            <%= link_to contact_path(contact.id), :remote => true do %>
              <p id='<%= "contact_#{contact.id}" %>' class='<%= selected_contact(contact, @selected) %>'>
                <%= formatted_contact_name(contact) %>
              </p>
            <% end %>
          <% end %>
        <% end %>    
      </div>
      <div id="selected_item" class="span8 contact_data">
        <%= render :partial => "selected_item" %>
      </div>
    </div>
  </div>  
</div>
