.container
  .row
    .span2.offset2
      %ul
        %li
          = link_to("About Us", '#')
        %li
          = link_to("Contact", '#')

    .span2.offset1
      %ul
        %li
          = link_to("Get help", '#')
        %li
          = link_to("FAQ", '#')
        %li
          = link_to("Support", '#')
 