= link_to "Tap Contact Exchange", "http://canitapyou.com", :class => 'brand'
%ul.nav
  - if logged_in?
    %li
      = link_to "TAP Cards", zap_cards_path
    %li
      = link_to "Contacts", contacts_path
    
%ul.nav.pull-right
  - if logged_in?
    %li
      = link_to(current_user.full_name, '#')
    %li
      = link_to('Logout', logout_path, :method => 'delete')
  - else
    %li
      = link_to('Login', new_session_path)
